body {
    padding: 10% 3% 10% 3%;
    text-align: center;
}

.mode {
    float: right;
}

.change {
    cursor: pointer;
    border: 1px solid;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.dark {
    background-color: #333;
    color: #e6e6e6;
}