@import url('/Schriften/Ubuntu/Ubuntu-Regular.ttf');
body {
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px; 
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
