ul {
  position: fixed;
  top: 0;
  left: 0;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  height: 60px;
  max-height: 60px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.paddingwith {
  padding: 20px 16px;
}

li a {
  width: auto;
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #282828;
}

.active {
  display: block;
  height: 100%; 
  min-height: 60px;
  padding: 20px 16px;
  background-color: #04AA6D;
}
#CoinAppIcon {
  width: auto;
  height: 100%;
}