.projekteausklappen {
  height: auto;
  width: 200px;
  padding: 20px 16px;
  align-items: center;
  color: white;
  text-align: center;
  text-decoration: none;
  display: none;
  flex-direction: column;
  row-gap: 20px;
  background-color: #333;
  color: white;
}

.projekteausklappen a {
  display: flex;
  width:100%;
  height: auto;
  z-index: 100000;
  flex-direction: column;
  row-gap: 0px;
  background-color: #333;
  color: white;
  text-decoration: none;
}


li:hover:has(.projekteausklappen) > .projekteausklappen {
  display: flex;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  height: 60px;
  max-height: 60px;
  padding: 0;
  background-color: #333;
}
/*body>*:not(#loading) {
  filter: blur(3em);
}*/
li:has(div[class="projekteausklappen"]) {
  min-width: 200px;
}
.active:has(.projekteausklappen) > .projekteausklappen{
  margin-top: 20px;
}
li {
  text-align: center;
  float: left;
}

.special {
  display: block;
  height: 100%; 
  min-height: 60px;
  padding: 20px 16px;
  background-color: #333;
}

.paddingwith {
  padding: 20px 16px;
}
body {
  padding-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  padding-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
li a {
  width: auto;
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
}
.active {
  display: block;
  height: 100%; 
  min-height: 60px;
  padding: 20px 16px;
  background-color: #04AA6D;
}
.active:has(a[href="/index.html"]) {
  padding: 0;
  background-color: #04AA6D;
}
.active a[href="/index.html"] {
  padding: 20px 16px;
}
#CoinAppIcon {
  width: auto;
  height: 100%;
}
@media (min-width: 1106px) {
  #menubreit {
    display: block;
  }
  #menuklein {
    display: none;
  }
}
@media (max-width: 1106px) {
  #menubreit {
    display: none;
  }
  #menuklein {
    display: block;
  }
}
#menuklein {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 60px;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}
#menuklein ul {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}
#menubutton {
  background-color: transparent;
  border: none; 
  float: right;
}
#menubutton img {
  height: 60px;
}