ul {
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  height: 100%;
  float: left;
}

.paddingwith {
  padding: 14px 16px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #282828;
}

.active {
  height: 100%;
  width: 100%;
  padding: 14px 16px;
  background-color: #04AA6D;
}