#showPassword{
    display: flex;
    position: absolute;
    cursor: pointer;
    transform: translateX(296px) translateY(-26px);
    color: var(--primary-color);
}
#showPassword:hover{
    color: var(--active-color);
}