:root {
  --text: #333333;
  --background: #ffffff;
  --primary: #04aa6d;
  --secondary: #ff8800;
  --accent: #1d80dd;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #333333;
}

body {
  background-color: var(--background);
  transition: background-color 0.5s;
  color: var(--text);
}

.theme-text {
  font-size: 2rem;
  position: absolute;
  top: -100px; /* Initially hidden above the viewport */
  transition: top 0.5s;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:700|Noto Sans:400');

body {
  font-family: 'Noto Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}